.sidebar {
  min-height: 100vh;
  max-height: 100vh;
  border-right: 1px solid grey;
  color: rgb(128, 128, 128);
  padding: 1.25rem;
  overflow-y: scroll;
}

.button {
  display: flex;
  align-items: center;
  margin: 2px;
}

.button:hover {
  color: rgb(255, 255, 255);
}

.paragraph {
  margin: 15px 0;
  margin-left: 10px;
}

.break {
  border: 1px solid rgb(128, 128, 128);
}

.playlist {
  cursor: pointer;
  padding: 10px 0;
}

.playlist:hover {
  color: rgb(255, 255, 255);
}

/* Media Queries */
/* Small */
@media (max-width: 640px) {
  .sidebar {
    max-width: 12rem;
    display: none;
  }
}

/* Medium */
@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}

/* Large */
@media (min-width: 1024px) {
  .sidebar {
    max-width: 15rem;
  }
}
