.sidebar {
  border: 1px solid grey;
  color: rgb(128, 128, 128);
  padding: 20px;
}

.button {
  display: flex;
  align-items: center;
  margin: 2px;
}

.button:hover {
  color: rgb(255, 255, 255);
}

.paragraph {
  margin: 15px 0;
  margin-left: 10px;
}

.break {
  border: 1px solid rgb(128, 128, 128);
}
