.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(245, 245, 245);
}
.img {
  width: 152px;
  margin-bottom: 15px;
}

.button {
  background: #18d860;
  padding: 10px;
  border-radius: 25px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
