.header {
  position: absolute;
  top: 4%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(128, 128, 128);
  background: rgb(0, 0, 0, 0.75);
  border-radius: 999px;
}

.avatar {
  width: 3em;
  height: 3em;
  border-radius: 999px;
}

.container {
  display: flex;
  align-items: center;
  opacity: 90%;
  padding: 5px 12px;
}

.container:hover {
  opacity: 75%;
}

.username {
  margin: 0 15px;
}

.icon {
  height: 1rem;
}
