@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 600;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgb(245, 245, 245);
}

body {
  max-height: 100vh;
  overflow: hidden;
}

.home {
  background: rgb(236, 234, 234);
}

.home > main {
  display: flex;
}

/* Media Queries */
/* Small */
@media (max-width: 640px) {
}

/* Medium */
@media (min-width: 768px) {
}

/* Large */
@media (min-width: 1024px) {
}
